.global__button {
    background: $alpha;
    color: white;
    border: none;
    padding: 0.3rem 1.5rem;
    margin: 0;
    text-decoration: none;
    // border-radius: 25%;
    border-radius: 10px;
    width:9.5rem;
    margin: 1.5rem 0;
}

.global__button--margin {
    margin: 0;
}