.chooseUs {
    display: flex;
    .chooseUs__container--color {
    background-color: #f1f3f3;
    }   
    .chooseUs__container--background {
    background: papayawhip url(../assets/image-4.jpeg)  center no-repeat;
    background-size: cover;
    flex: 1 0 50%;
    }
}


.content__heading--center {
    text-align: center;
}

.content__statcard {
    display: flex;
    align-items: center;
    .statcard__pic {
        width: 20%;
    }
    .statcard__container {
        width: calc(80%);
        margin: 0 20px;
    }
}

