footer {
    background: $kappa;
    color: white;

}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    .contact, .about {
        width: 50%;
        p {
            margin-bottom:0;
        }
    }
}

.gallery__flexContainer {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    .gallery__cell {
        width: calc(20% - 10px);
        margin: 10px;
    }
}

footer ul {
    display: flex;
    li {
        margin: 0 10px;
        a {
            color:white;
        }
    }
}
