.gallery__container {
    @include flex (row);
    .gallery__cell {
        flex: 1 0 25%;
        position: relative;
        &:hover .gallery__overlay {
            display:block;
        }
            .gallery__overlay {
                background:rgba(0,0,0,0.5);
                @include position(0,0,0,0);
                @include flex(column, center);
                padding:10%;
                display: none;
                
                .overlay__content--border {
                    border: $delta 2px solid;
                    border-radius: 10px;
                    color: white;
                    text-align: center;
                    h3{
                        margin-bottom:0;
                    }
                    p {
                        margin-top:0;
                    }
                    
                }
            }
        
    }      
    
} 

.gallery__cell--team {
    flex: 1 0 30%;
    margin: 10px;
    .gallery__overlay--white{
        color: white;
        .overlay__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            h3{
                margin-bottom:0;
                text-align: center;
                }
            p {
                margin-top:0;
                }
        }
    }
}

