.header {
    background: papayawhip url(../assets/image-1.jpeg) center no-repeat;
    height: 100vh;
    padding-top: 1px;
    &__container {
    @include flex(row, space-between, center);
    }
    .logo {
    display: flex;
    flex: 1 0 45%;
    }
}

.content__container {
    height:100%;
    @include flex(column);
    justify-content: center;
    .content__heading--margin {
    margin-bottom: 0;
    }
} 


@media (max-width: 1000px) {
    .header__container {
        flex-direction: column;
        
    }
}

// @media(max-width: 1000px) {
//     .header__container {
//         display: flex;
//         flex-direction: column;
//         li {
//             margin: 0 10px;
//         }
//     }

// }
