.header {
    background: papayawhip url(../assets/image-1.jpeg) center no-repeat fixed;
    height: 100vh;
    padding-top: 1px;
}

.header__container {
    @include flex(row, space-between)
}


.logo {
    display: flex;
    flex: 1 0 45%;
}

.content {
    @include flex(column, center)
}
