.header {
    background: papayawhip url(../assets/image-1.jpeg) center no-repeat fixed;
    height: 100vh;
    padding-top: 1px;
}

.header__container {
    @include flex(row, space-between)
}


.logo {
    width: 60%;
}

.nav__container {
    width: 40%;
    @include flex(row, space-between, center)
}

.nav__item {
    list-style:none;
}

.nav__link {
    text-decoration: none;
}

.content {
     @include flex(column, center)
}