.nav__container {
    
    @include flex(row, space-between, center);
    flex: 1 0 55%;
}

.nav__item {
    list-style:none;
    ;
}

.nav__link {
    text-decoration: none;
}

.nav__link {
    color: black;
}