// ==========
// MixIN
// ==========

@mixin flex($flexDirection:auto, $justifyContent:auto, $alignItems:auto, $flexWrap:auto) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $flexWrap;
}

@mixin position($top, $right, $bottom, $left) {
    position:absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// ====================
// COLOR VARIABLES
// ====================
// button and heading
$alpha: #3a539b;
// border box
$beta: #2574A9;
// border hover fill #205D8G
$kappa: black; 
// socials
$delta: #BEBEBE;
// socials hover
$epsilon: #939393;

