@import "partials/setup.scss";
@import "partials/utils";
@import "partials/typography";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/button.scss";
@import "partials/welcome";
@import "partials/chooseUs";
@import "partials/services";
@import "partials/testimonials";
@import "partials/servicesGrid";
@import "partials/question";
@import "partials/team";
@import "partials/footer";

html {
    font-size: 125%;
} 

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    transition: ease-in 0.3s;
    &:hover {
        color: $beta;
    }
}