article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  text-transform: lowercase; }

h1 {
  font-size: 4.6rem;
  line-height: 1.6rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

h2 {
  font-size: 2.4rem;
  line-height: 1.6rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

h3 {
  font-size: 1.7rem;
  line-height: 1.8rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

h4 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

.nav__container {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

button {
  text-transform: uppercase; }

.wrapper {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto; }

.wrapper--skinny {
  height: 20vh; }

.wrapper--full {
  height: 80vh; }

.header {
  background: papayawhip url(../assets/image-1.jpeg) center no-repeat fixed;
  height: 100vh;
  padding-top: 1px; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: auto;
  flex-wrap: auto; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 45%;
  flex: 1 0 45%; }

.content__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: auto;
  -ms-flex-pack: auto;
  justify-content: auto;
  -webkit-box-align: auto;
  -ms-flex-align: auto;
  align-items: auto;
  -ms-flex-wrap: auto;
  flex-wrap: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.content__heading--margin {
  margin-bottom: 0; }

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: auto;
  flex-wrap: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 55%;
  flex: 1 0 55%; }

.nav__item {
  list-style: none; }

.nav__link {
  text-decoration: none; }

.nav__link {
  color: black; }

.global__button {
  background: #3a539b;
  color: white;
  border: none;
  padding: 0.3rem 1.5rem;
  margin: 0;
  text-decoration: none;
  border-radius: 10px;
  width: 9.5rem;
  margin: 1.5rem 0; }

.global__button--margin {
  margin: 0; }

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: auto;
  -ms-flex-pack: auto;
  justify-content: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: auto;
  flex-wrap: auto;
  margin: 50px 100px; }

.content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: auto center;
  flex-direction: auto center;
  -webkit-box-pack: auto;
  -ms-flex-pack: auto;
  justify-content: auto;
  -webkit-box-align: auto;
  -ms-flex-align: auto;
  align-items: auto;
  -ms-flex-wrap: auto;
  flex-wrap: auto; }

.content__text--center {
  text-align: center; }

.chooseUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.chooseUs__container--color {
  background-color: #f1f3f3; }

.chooseUs__container--background {
  background: papayawhip url(../assets/image-4.jpeg) center no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%; }

.content__heading--center {
  text-align: center; }

.content__statcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.statcard__pic {
  width: 20%; }

.statcard__container {
  width: calc(80%);
  margin: 0 20px; }

.content__container--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: auto;
  -ms-flex-pack: auto;
  justify-content: auto;
  -webkit-box-align: auto;
  -ms-flex-align: auto;
  align-items: auto;
  -ms-flex-wrap: auto;
  flex-wrap: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%; }

.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: auto;
  -ms-flex-pack: auto;
  justify-content: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: auto;
  flex-wrap: auto;
  border: 2px #2574A9 solid;
  border-radius: 20px;
  margin: 0 10px;
  padding: 3%;
  -webkit-transition: ease-in 0.5s;
  -o-transition: ease-in 0.5s;
  transition: ease-in 0.5s; }

.services__card:hover {
  color: black;
  background-color: #2574A9; }

.services__container {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0; }

.services__item {
  list-style: none; }

.icon--big {
  font-size: 2.5rem; }

html {
  font-size: 125%; }

img {
  display: block;
  width: 100%; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: ease-in 0.5s;
  -o-transition: ease-in 0.5s;
  transition: ease-in 0.5s; }

a:hover {
  color: #2574A9; }
