@import "partials/setup.scss";
@import "partials/utils";
@import "partials/typography";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/button.scss";

html {
    font-size: 125%;
} 

img {
    display: block;
    width: 100%
}